@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic,400italic);

html {
	height: 100%;
    overflow: hidden;
	font-family: 'Lato', sans-serif;
    background: #008fe8;
    background: -moz-linear-gradient(top,  #008fe8 21%, #005ebc 100%);
    background: -webkit-linear-gradient(top,  #008fe8 21%,#005ebc 100%);
    background: linear-gradient(to bottom,  #008fe8 21%,#005ebc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008fe8', endColorstr='#005ebc',GradientType=0 );
}

#steemit-pond-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#steemit-pond {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a { text-decoration: none; }
a:focus { outline: 0; }
a:hover { text-decoration: underline; }
.no-ul:hover { text-decoration: none; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    border-color: #e0e0e0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-style: solid;
    color: #474e57;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    width: 100%;
}

input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
textarea:hover, select:hover {
    border-color: #e0e0e0;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus, select:focus {
    border-color: #adadad;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
    outline: none;
}

input[type="color"] {
    padding: 5px;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
    width: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #c7c7c7;
    opacity: 1;
    font-weight: 400;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #c7c7c7;
    opacity: 1;
    font-weight: 400;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #c7c7c7;
    opacity: 1;
    font-weight: 400;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #c7c7c7;
    opacity: 1;
    font-weight: 400;
}

input::placeholder,
textarea::placeholder {
    color: #c7c7c7;
    opacity: 1;
    font-weight: 400;
}

/* Header styling ------------------------------------------------------------*/

header {
    padding: 5px;
    font-size: 1.5em;
    color: white;
    background: #1177dd;
}

header .logo {
	display:inline-block;
    height: 1em;
    margin: .2em .1em;
    vertical-align:middle;
}

header h1 {
	display:inline-block;
    vertical-align:middle;
    color: white;
}

header ul { float: right; }

header ul li {
    display: inline-block;
    font-size: .9em;
    margin: .3em .3em;
}

header ul li:hover {
    color: #88cffc;
    cursor: pointer;
}

/* Side menu -----------------------------------------------------------------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #014875;
    white-space: nowrap;
    transition: 0.2s; /* slidein */
}

.sidenav .close-menu-btn {
    position: absolute;
    top: 0;
    right: .3em;
    font-size: 36px;
    margin-top: .1em;
    margin-left: 50px;
    color: #0171b7;
}

.sidenav .menus-container {  margin: 3em 1em; }

.sidenav .menus-container h2 {
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: .5em;
}

.sidenav .menus-container p {
    font-size: 1em;
    margin-bottom: 1.1em;
}

/* User filters menu */

.add-user .add-user-filter-input-container {
    display: table;
    width: 100%;
    margin-bottom: 1em;
}

.add-user .add-user-filter-input {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    margin-right: 0;
}

.add-user .add-user-filter-submit {
    display: table-cell;
    vertical-align: middle;
    color: #3498db;
}

.add-user .add-user-filter-submit:hover {
    color: #34495e;
    cursor: pointer;
}

.user-filters-menu ul li {
    text-align: right;
    padding: .7em 0; 
}

.user-filters-menu ul li span {
    vertical-align: middle;
    margin-left: .4em;
    color: #e74c3c;
}

.user-filters-menu ul li span:hover {
    color: #c0392b;
    cursor: pointer;
}

/* Legend */

.info-menu h2 {
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 15px;
}

.info-menu #legend-title { margin-top: 60px; }

.info-menu h3 {
    font-size: 1em;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 1em;
    margin-bottom: .5em;
}

.info-menu .legend-image-container {
    margin-left: 15px;
    margin-bottom: 20px;
}

.info-menu .legend-image-container div {
    display: table-cell;
    vertical-align: middle;
}

.info-menu .legend-image-full { width: 80%; }
.info-menu .legend-image-two-third { width: 58%; }
.info-menu .legend-image-half { width: 45%; }
.info-menu .legend-image-third { width: 22%; }

.info-link {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #0179c4;
    display: block;
    transition: 0.3s
}

/* Pond Element Styles -------------------------------------------------------*/

.existing-post a,
.new-account a,
.update-account a,
.limit-create div,
.limit-create a,
.pow a,
.upvote a,
.downvote a {
    display: block;
    text-align: center;
    white-space: nowrap;
    color: #88cffc;
}

.new-post a:hover,
.existing-post a:hover,
.new-account a:hover,
.update-account a:hover,
.limit-create a:hover,
.pow a:hover,
.upvote a:hover,
.downvote a:hover {
    color: white;
}

.new-post-image,
.existing-post-image,
.new-account-image,
.update-account-image,
.limit-create-image,
.pow-image,
.upvote-image,
.downvote-image {
    display:inline-block;
    vertical-align:middle;
    height: 100%;
    width: auto;
}

/*----- New Post Whales Styling -----*/

.new-post {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    height: 7.5em; /* Adjusts fish size - tweaked with js */
}

.new-post-data {
    display:inline-block;
    vertical-align:middle;
    text-align: right;
}

.new-post a { color: white; }
.new-post a:hover { text-decoration: underline; }
.new-post a.auth-url { color: #88cffc; }
.new-post-title { white-space: nowrap; }

/*----- Transfers -----*/

.transfer {
    white-space: nowrap;
    font-size: .7em;
    color: #88cffc;
    text-align: right;
}

.transfer-from div,
.transfer-from img,
.transfer-to div,
.transfer-to img {
    display: inline-block;
    vertical-align: middle;
}

.transfer-from { height: 3.5em; } /* Adjusts fish size */
.transfer-to { height: 3.5em; } /* Adjusts fish size */
.transfer-from { margin-bottom: -1.8em; } /* Adjust fish position */
.transfer-to {margin-right: 2em; } /* Adjust fish position */
.transfer-from img { height: 100%; }
.transfer-to img { height: 100%; }
.transfer a { color: white; }

/*----- Existing Post (reply) - Fish -----*/

.existing-post a {
    height: 3em;
    font-size: .7em; /* Adjusts size */
}

.existing-post a.existing-post-link-filter-applied {
    height: 6em; /* Adjusts size */
}

/*----- New Account - Dolphin -----*/

.new-account a {
    height: 3.8em;
    font-size: .7em;
}

.new-account-image { margin-top: 2px; }

/*----- Update Account - Baluga -----*/

.update-account a {
    height: 3.8em;
    font-size: .7em;
}

.update-account a.account-update-link-filter-applied {
    height: 4em;
}

/*----- Limit Create - Turtle -----*/

.limit-create a {
    height: 3.8em;
    font-size: .7em;
}

.limit-create { font-size: .8em; }

.limit-create-image {
    margin-top: 3px;
    margin-bottom: 2px;
}

/*----- POW - Shark -----*/

.pow a {
    height: 6.2em;
    font-size: .7em;
}

/*----- Upvotes - Bubbles -----*/

.upvote a {
    font-size: .6em;
}

.upvote a.upvote-link-filter-applied {
    height: 12em;
}

.upvote a.upvote-link-easter-egg {
    height: 16em;
}

.upvote-image { margin-bottom: 5px; }

/*----- Downvotes - Garbage -----*/

.downvote a {
    height: 3em;
    font-size: .6em;
}

.downvote a.downvote-link-filter-applied {
    height: 7em;
}

.downvote-image { margin-top:2px; }

/*----- Footer -----*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: white;
    font-size: 1.1em;
}

footer a {
    color: #88cffc;
}

