@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic,400italic);

html {
	height: 100%;
    max-width: 100%;
    overflow: hidden;
	font-family: 'Lato', sans-serif;
	background: #008fe8; /* Old browsers */
	background: -moz-linear-gradient(top,  #008fe8 21%, #005ebc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #008fe8 21%,#005ebc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #008fe8 21%,#005ebc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008fe8', endColorstr='#005ebc',GradientType=0 ); /* IE6-9 */
}

body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#steemit-pond {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/*--------------------------*
 * Header styling           *
 *--------------------------*/

header {
	padding: 5px;
}

header #logo {
	display:inline-block;
    vertical-align:middle;
}

header h1 {
	display:inline-block;
    vertical-align:middle;
    color: white;
    font-size: 1.5em;
}

header a {
    text-decoration: none;
}

#created-by {
    padding-top: 7px;
    padding-left: 3px;
    display:inline-block;
    vertical-align:middle;
    color: white;
}

#created-by a {
    color: #88cffc;
}

#created-by a:hover {
    text-decoration: underline;
}

#open-about-steemit-pond {
    position: fixed;
    top: 0;
    right: 10px;
    margin-top: 8px;
    width: 3em;
    height: 3em;
    background: url("../img/menu-icon.png") no-repeat;
    background-size: contain;
    text-indent: -9999em;
}

#open-about-steemit-pond:hover {
    cursor: pointer;
}

/*------------*
 * Side menu  *
 *------------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    
    color: #014875;
    transition: 0.2s; /* slidein */
}

.sidenav-box-shadow {
    -webkit-box-shadow: -2px 0px 17px 0px rgba(3,49,79,1);
    -moz-box-shadow: -2px 0px 17px 0px rgba(3,49,79,1);
    box-shadow: -2px 0px 17px 0px rgba(3,49,79,1);
}

.sidenav h2 {
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 15px;
}

.sidenav #legend-title {
    margin-top: 60px;
}

.sidenav h3 {
    font-size: 1em;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 1em;
    margin-bottom: .5em;
}

.sidenav .legend-image-container {
    margin-left: 15px;
    margin-bottom: 20px;
}

.sidenav .legend-image-full {
    width: 70%;
}

.sidenav .legend-image-third {
    width: 25%;
}

/* The navigation menu links */
.sidenav a {
    margin-left: 15px;
    margin-top: 1em;
    margin-bottom: .5em;
    text-decoration: none;
    font-size: 1em;
    color: #0179c4;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #014875;
}

/* Position and style the close button (top right corner) */
a.closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px !important;
    margin-top: 15px;
    margin-left: 50px;
}

/*--------------------------*
 * Fish Styling - New Post  *
 *--------------------------*/

.new-post-fish {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 7em;
    white-space: nowrap;
}

.new-post-fish a {
    color: white;
    text-decoration: none;
}

.new-post-fish a.auth-url {
    color: #88cffc;
}

.new-post-fish a:hover {
    text-decoration: underline;
}

.new-post-fish-data {
    display:inline-block;
    vertical-align:middle;
    text-align: right;
}

.new-post-fish-title {
    white-space: nowrap;
}

.new-post-fish-image {
    display:inline-block;
    vertical-align:middle;
    height: 100%;
    width: auto;
}

/*--------------------------------------*
 * Fish Styling - Existing Post (reply) *
 *--------------------------------------*/

.existing-post-fish a {
	display: block;
    text-align: center;
    height: 3em;
    white-space: nowrap;
    color: #88cffc;
    font-size: .7em;
    text-decoration: none;
}

.existing-post-fish a:hover {
	color: white;
    text-decoration: underline;
}

.existing-post-fish-image {
    display:inline-block;
    vertical-align:middle;
    height: 100%;
    width: auto;
}

/*--------------------------*
 * Bubble Styling - Upvotes *
 *--------------------------*/

.upvote-bubble {
	text-align: center;
	font-size: .6em;
	white-space: nowrap;
}

.upvote-bubble a {
	text-decoration: none;
	color: #88cffc;
}

.upvote-bubble a:hover {
	text-decoration: underline;
	color: white;
}

.upvote-bubble-image {
	margin-bottom: 2px;
}

/*-----------------------------*
 * Garbage Styling - Downvotes *
 *-----------------------------*/

.downvote-garbage {
    text-align: center;
    font-size: .6em;
    white-space: nowrap;
}

.downvote-garbage a {
    text-decoration: none;
    color: #88cffc;
}

.downvote-garbage a:hover {
    text-decoration: underline;
    color: white;
}

.downvote-garbage-image {
    margin-top: 2px;
    max-width: 45px;
}

